@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primária:#f6f6f6;
    --cor-secundaria:#000000;
    --cor-terciaria: #512681;
    --cor-hover: #794bad;

    --fonte-primaria: 'Maven Pro', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primária);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 12%;
}

.cabecalho__menu {
   display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    color:var(--cor-terciaria);
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover);
}

.apresentacao {
    padding:5% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.apresentacao__conteudo__titulo {
    font-size: 2.81rem;
    font-weight: 600;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color:var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.38rem;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__links__subtitulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 600;
}

.apresentacao__conteudo__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 60%;
    padding: 21.5px 0px;
    border-radius: 50px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color:var(--cor-primária);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__conteudo__links__navegacao:hover {
    background-color: var(--cor-hover);

}

.icones {
    height: 8%;
    width: 8%;
    fill: var(--cor-primária);
}

.apresentacao__imagem {
    width: 50%; ;
}
.rodape {
    color: var(--cor-primária);
    background-color: var(--cor-terciaria);
    padding: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
}

.meu__nome:hover {
    color: var(--cor-secundaria);
}

@media(max-width: 500px)  {
    
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .cabecalho__menu__link {
        font-size: 1.25rem;
    
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        gap:25px
    }

    .apresentacao__conteudo {
        width: auto;
        padding-bottom: 5%;
    }

    .apresentacao__conteudo__titulo {
        font-size: 2.25rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 1.25rem;
    }

    .apresentacao__conteudo__links__navegacao {
        font-size: 1.38rem;
        width: 70%;
    }

    .apresentacao__imagem {
      width: 60%;
    }

    .rodape {
        font-size: 1.13rem;
    }
    
 }   

@media(max-width: 1250px)  {
    
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        gap:25px
    }

    .apresentacao__conteudo {
        width: auto;
        padding-bottom: 5%;
    }

    .apresentacao__imagem {
        width: 60%;
    }
    
}
